
.header{
    text-decoration: none;
    padding-top: 25px;
 }
 
 .business{
     transition: color 1s;
     font-size: 30px;
     margin-left: 50px;
     margin-right: 350px;
     vertical-align: middle;
 }
 
 .business:hover{
     color:rgb(77, 77, 79);
 }
 .menu{
     transition: color 0.5s;
     text-decoration: none;
     margin:20px;
     color:rgb(137, 142, 146);
     font-size: 15px;
 }
 .menu:hover{
     color:rgb(90, 92, 93)
 }
 .contact:hover{
     background-color: rgb(32, 31, 31);
 }
 .contact{
     transition: color 4s;
     text-decoration: none;
     color:white;
     background-color:black;
     font-size: 15px;
     padding-top : 15px;
     padding-bottom: 15px;
     padding-left: 25px;
     padding-right: 25px;
     margin-left: 335px;
 }
 
 
 .footer{
     padding-bottom: 120px;
     background-color:rgb(244, 246, 248);
 }
 .Grow{
     font-family:sans-serif;
     padding-top:100px;
     font-size: 38px;
     text-align:center;
 }
 .Today{
     text-align:center;
     font-size: 23px;
     color:rgb(127, 130, 133);
 }
 .start1{
     text-align:center;
 }
 .start{
     padding-bottom: 30px;
     transition: color 4s;
     text-decoration: none;
     color:white;
     background-color:black;
     padding-top : 20px;
     padding-bottom: 20px;
     padding-left: 40px;
     padding-right: 40px;
     font-size:15px;
 }
 .start:hover{
     transition: color 4s;
     background-color:rgb(51, 51, 53);
 }
 .W{
     padding-top: 60px;
     text-align: center;
 }
 .W-text{
     color:rgb(127, 130, 133);
     text-decoration: none;
 }
 